{% extends 'admin/base.html.twig' %}

{% block title %}AboutUs{% endblock %}

{% block body %}
    <h1>AboutUs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ about_u.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ about_u.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ about_u.description }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ about_u.active }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('about_us_index') }}">back to list</a>

    <a href="{{ path('about_us_edit', {'id': about_u.id}) }}">edit</a>

    {{ include('admin/about_us/_delete_form.html.twig') }}
{% endblock %}
