{% extends 'base.html.twig' %}

{% block title %}PricesDay index{% endblock %}

{% block body %}
    <h1>PricesDay index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prices_day in prices_days %}
            <tr>
                <td>{{ prices_day.id }}</td>
                <td>{{ prices_day.name }}</td>
                <td>{{ prices_day.active }}</td>
                <td>
                    <a href="{{ path('prices_day_show', {'id': prices_day.id}) }}">show</a>
                    <a href="{{ path('prices_day_edit', {'id': prices_day.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prices_day_new') }}">Create new</a>
{% endblock %}
